.login {
  background-color: #ffffff;
  height: calc(100vh - 92px);
  .logo {
    width: 408px;
    height: 96px;
    margin-top: 158px;
  }
  .login-content {
    margin-top: 132px;
    .login-input {
      width: 630px;
      height: 88px;
      padding-left: 0;
      padding-right: 0;
      border-bottom: 1px solid #f0f0f0;
      position: relative;
      .code {
        position: absolute;
        right: 0;
        top: 24px;
        color: #666666;
      }
    }
  }
  input::-webkit-input-placeholder {
    color: #999;
  }
  .checkbox {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #222222;
  }

  .isCheck {
    background: url(../../assets/login/checkbox.png) no-repeat;
    background-size: cover;
    border: none;
  }
  .login-btn {
    width: 624px;
    height: 96px;
    border-radius: 48px;
    font-size: 32px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
