.noData--page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background: #fff;
  .noData-item {
    margin-top: -140px;
    width: 100%;
  }
  .noData-img {
    width: 488px;
    height: 306px;
  }
  .noData-operator {
    margin-top: 52px;
  }
  .noData-btn {
    width: 360px;
    border-radius: 42px;
  }
  &.customNav {
    height: calc(100vh - 92px);
  }
}
