.contentBox {
  font-size: 24px;
  font-family: PingFangHK-Regular, PingFangHK;
  height: 1200px;

  .title {
    font-size: 28px;
    font-family: PingFangHK-Medium, PingFangHK;
    font-weight: 500;
    color: #222222;
  }

  .topBox {
    display: flex;
    border-bottom: 2px solid rgba(116, 116, 128, 0.1800);

    .cancelImg {
      width: 200px;
      height: 200px;
    }

    .topRightBox {
      font-family: PingFangHK-Medium, PingFangHK;
      font-weight: 500;
      color: #222222;
      flex: 1;

      .money {
        display: flex;
        height: 48px;
        line-height: 48px;
        font-family: HelveticaNeue-Bold, HelveticaNeue;
        font-size: 44px;
        font-weight: bold;
        color: #CD3939;

        .symbol {
          font-family: PingFangSC-Medium, PingFang SC;
          font-size: 36px;
          height: 48px;
          line-height: 48px;
        }
      }
    }

    .close {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      border: 2px solid #222220;
      border-radius: 18px;
      background-color: #fff;
      position: relative;
      cursor: pointer;
    }

    .close::before,
    .close::after {
      content: "";
      position: absolute;
      height: 14px;
      width: 2px;
      background: #333;
    }

    .close::before {
      transform: rotate(45deg);
    }

    .close::after {
      transform: rotate(-45deg);
    }

  }

  .package,
  .selectMoney {
    border-bottom: 2px solid rgba(116, 116, 128, 0.1800);

    .options,
    .active,
    .options2 {
      margin: 24px 24px 0 0;
      display: inline-block;
      width: 284px;
      height: 56px;
      background: #F5F6F7;
      border-radius: 8px;
      text-align: center;
      line-height: 56px;
      border: 2px solid #fff;
    }

    .active {
      color: #D94D4D;
      background: rgba(224, 87, 87, 0.1200);
      border-radius: 8px;
      border: 2px solid #DF5656;
    }

    .options2 {
      opacity: 0.6;
    }
  }

  .buy {

    .reduction,
    .number,
    .add,
    .most {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .number {
      font-size: 32px;
      font-family: HelveticaNeue-Medium, HelveticaNeue;
      font-weight: 500;
      color: #222222;
      width: 72px;
      height: 64px;
      background: #F0F1F2;
      border-radius: 6px;
    }

    .reduction,
    .add,
    .most {
      color: rgba(120, 120, 128, 0.3200);
      width: 64px;
      height: 64px;
      background: #F7F8F9;
      border-radius: 6px;
      font-size: 40px;
      font-weight: 500;
    }

    .add,
    .most {
      background: #F0F1F2;
    }
  }

  .bottom {
    position: absolute;
    bottom: 48px;

    .cancel {
      width: 160px;
      height: 80px;
      line-height: 80px;
      text-align: center;
      border-radius: 52px;
      border: 2px solid #666666;

      font-size: 28px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #666666;
      letter-spacing: 1px;
    }

    .business {
      width: 448px;
      height: 80px;
      line-height: 80px;
      text-align: center;
      background: linear-gradient(61deg, #E66161 0%, #C83232 100%);
      border-radius: 52px;

      font-size: 28px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #FFFFFF;
      // line-height: 48px;
      letter-spacing: 1px;
    }
  }

}