.groupinfo-content {
  font-family: sans-serif;
  padding: 24px;
  .groupinfo-form {
    background: #fff;
    height: auto;
    padding: 0 24px 310px 24px;
    position: relative;
    z-index: -1;
    .negoHead {
      height: 84px;
      line-height: 84px;
      font-size: 32px;
      color: #333333;
      box-shadow: 0px 4px 10px 0px rgba(172, 172, 172, 0.11);
      border-radius: 2px 2px 0px 0px;
      font-weight: bold;
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr 1fr;
      // .form-name {
      //   // padding-left: 48px;
      //   span {
      //     margin-left: 2px;
      //   }
      // }
      // .form-phone {
      //   margin-left: 132px;
      // }
      // .form-operate {
      //   margin-left: 145px;
      // }
      .form-name {
        padding-left: 36px;
      }
      .form-phone {
        margin-left: 12px;
      }
      .form-operate {
        margin-left: 48px;
      }
    }

    .form-number {
      margin-right: 20px;
    }

    .formItem {
      display: flex;
      padding: 34px 0 28px 0;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.06);
      font-size: 28px;
      font-family: sans-serif;
      font-weight: 400;
      color: #333333;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      .formItem-phone {
        // margin-left: 112px
        padding-left: 12px;
      }
      .formItem-operate {
        // margin-left: 80px;
        padding-left: 48px;
        display: flex;
        gap: 32px;
        box-sizing: border-box;
        color: #c83232;
      }
    }
    .add {
      position: absolute;
      right: 24px;
      bottom: 222px;
      width: 176px;
      height: 56px;
      background: linear-gradient(315deg, #d62f33 0%, #f27376 100%);
      box-shadow: 0px 4px 8px 0px rgba(217, 95, 98, 0.5);
      border-radius: 8px;
      font-weight: 500;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .groupinf-first {
    background: #fff;
    height: auto;
    position: relative;
    .negoHead {
      height: 84px;
      line-height: 84px;
      font-size: 32px;
      color: #333333;
      box-shadow: 0px 4px 10px 0px rgba(172, 172, 172, 0.11);
      border-radius: 2px 2px 0px 0px;
      font-weight: bold;
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr 1fr;
      .form-name {
        padding-left: 36px;
      }
      .form-phone {
        margin-left: 12px;
      }
      .form-operate {
        margin-left: 48px;
      }
    }
  }
}
