.popup {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  visibility: hidden;
  z-index: 999999;

  .popup-wrapper {
    z-index: 90;
  }

  .popup-mask {
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .popup-icon-close {
    position: absolute;
    top: 18px;
    right: 24px;
    font-size: 70px;
    color: #fff;
    z-index: 99;
  }

  &.bottom {
    .popup-wrapper {
      box-shadow: 0px -4px 8px 0px rgba(237, 237, 237, 0.5);
      background: #fff;
      border-radius: 24px 24px 0 0;
      position: fixed;
      z-index: 11;
      right: 0;
      bottom: 0;
      left: 0;
      min-height: 400px;
      transition: height 0.3s ease-out;
      padding-top: 20px;
      @include x-padding-bottom(-12px);
    }
  }

  &.center {
    .popup-wrapper {
      background: transparent;
      position: absolute;
      z-index: 11;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    }
  }

  &-show {
    animation: show 0.3s ease-out forwards;

    .popup-mask {
      opacity: 1;
    }
    &.center {
      .popup-wrapper {
        opacity: 1;
      }
    }
  }

  &-hide {
    animation: hide 0.3s ease-out forwards;

    .popup-mask {
      opacity: 0;
    }
    &.center {
      .popup-wrapper {
        opacity: 0;
      }
    }
  }
}

@keyframes show {
  0% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}

@keyframes hide {
  0% {
    visibility: visible;
  }

  100% {
    visibility: hidden;
  }
}
