@font-face {
  font-family: 'iconfont'; /* Project id 3461134 */
  src: url('//at.alicdn.com/t/c/font_3461134_sm4kyd25ltr.woff2?t=1661848827700')
      format('woff2'),
    url('//at.alicdn.com/t/c/font_3461134_sm4kyd25ltr.woff?t=1661848827700')
      format('woff'),
    url('//at.alicdn.com/t/c/font_3461134_sm4kyd25ltr.ttf?t=1661848827700')
      format('truetype');
}
.iconfont {
  font-family: 'iconfont' !important;
  font-size: 28px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $hezi-gray-icon;
}

.icon-fangxiang-zuo:before {
  content: '\e6ce';
}
.icon-fangxiang-you:before {
  content: '\e6cd';
}
.icon-cuowu:before {
  content: '\e600';
}

// 字体
.t1 {
  font-size: 34px;
  font-weight: bold;
  color: $hezi-text-color;
}
.t2 {
  font-size: 32px;
  font-weight: bold;
  color: $hezi-text-color;
}
.t3 {
  font-size: 30px;
  font-weight: bold;
  color: $hezi-text-color;
}
.t4 {
  font-size: 28px;
  color: $hezi-text-color;
}
.t5 {
  font-size: 26px;
  color: $hezi-text-color;
}
.t6 {
  font-size: 24px;
  color: $hezi-text-color;
}
.t7 {
  font-size: 22px;
  color: $hezi-text-color;
}
.t8 {
  font-size: 20px;
  color: $hezi-text-color-light;
}
.t9 {
  font-size: 18px;
  color: $hezi-text-color-light;
}
.t10 {
  font-size: 16px;
  color: $hezi-text-color-light;
}

// 文字颜色
.text-primary {
  color: $hezi-color-primary;
}
.text-light {
  color: $hezi-text-color-light;
}
.text-gray {
  color: $hezi-text-color-gray;
}
.text-dark {
  color: $hezi-text-color;
}
.text-white {
  color: #fff;
}
.text-000 {
  color: #000;
}
.text-999 {
  color: #999;
}
.text-666 {
  color: #666;
}

// 背景颜色
.bg-transparent {
  background: transparent;
}
.bg-white {
  background: #fff;
}

// 文字对齐
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

// 文字删除线
.text-decoration {
  text-decoration: line-through;
}

// 字重
.bold {
  font-weight: bold;
}
.font-normal {
  font-weight: normal;
}

// 渐变色
.primary-gradient {
  background-image: linear-gradient(90deg, #e66161 0%, #c83232 100%);
}

// 投影
.shadow {
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.04);
}

// 文字链接
.text-link {
  color: #32c5ff;
}

.button,
button.button,
button[type='primary'].button,
button[type='default'].button {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: none;
  outline: none;
  border-radius: 42px;
  font-size: 28px;
  transition: opacity 0.3s;
  padding: 0;
  margin: 0;
  height: 56px;
  line-height: 56px;
  width: 172px;

  &.square {
    @extend .round-sm;
  }

  &.row {
    width: 100%;
  }

  &.is-plain {
    background-color: $hezi-background-white;
    border: 1px solid $hezi-text-color;
    color: $hezi-text-color;
  }

  &.is-plain-primary {
    background-color: $hezi-background-white;
    border: 1px solid $hezi-color-primary;
    color: $hezi-color-primary;
  }

  &.button-primary {
    color: #fff;
    &:active {
      opacity: 0.4;
    }
    @extend .primary-gradient;
  }
}

.button:after {
  content: none;
  border: none;
}

// 间距
@for $distance from 1 through 100 {
  .p-#{$distance*2} {
    padding: $distance * 2px;
  }
  .px-#{$distance*2} {
    padding-left: $distance * 2px;
    padding-right: $distance * 2px;
  }
  .py-#{$distance*2} {
    padding-top: $distance * 2px;
    padding-bottom: $distance * 2px;
  }
  .pt-#{$distance*2} {
    padding-top: $distance * 2px;
  }
  .pb-#{$distance*2} {
    padding-bottom: $distance * 2px;
  }
  .pl-#{$distance*2} {
    padding-left: $distance * 2px;
  }
  .pr-#{$distance*2} {
    padding-right: $distance * 2px;
  }
  .m-#{$distance*2} {
    margin: $distance * 2px;
  }
  .mx-#{$distance*2} {
    margin-left: $distance * 2px;
    margin-right: $distance * 2px;
  }
  .my-#{$distance*2} {
    margin-top: $distance * 2px;
    margin-bottom: $distance * 2px;
  }
  .mt-#{$distance*2} {
    margin-top: $distance * 2px;
  }
  .mb-#{$distance*2} {
    margin-bottom: $distance * 2px;
  }
  .ml-#{$distance*2} {
    margin-left: $distance * 2px;
  }
  .mr-#{$distance*2} {
    margin-right: $distance * 2px;
  }
  .lh-#{$distance*2} {
    line-height: $distance * 2px;
  }
}

// 行高
.lh {
  line-height: 1.4;
}

// 圆角
.round,
.round-md {
  border-radius: 12px;
}
.round-xs {
  border-radius: 4px;
}
.round-sm {
  border-radius: 8px;
}
.round-lg {
  border-radius: 16px;
}
.round-full {
  border-radius: 50%;
}

// flex 布局
.flex {
  display: flex;
  flex-wrap: nowrap;
}
.flex.flex-col {
  flex-direction: column;
}
.flex .flex-row {
  flex-direction: row;
}
.flex.flex-wrap {
  flex-wrap: wrap;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-x-center {
  justify-content: center;
}
.flex-x-end {
  justify-content: flex-end;
}
.flex-y-center {
  align-items: center;
}
.flex-y-end {
  align-items: flex-end;
}
.flex-y-start {
  align-items: flex-start;
}
.flex-between {
  justify-content: space-between;
}
.flex-1 {
  flex: 1;
}

// 蒙层
.mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $hezi-gray-mask;
}

// 单行省略
.lineOmit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 分割线
.divider-line {
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background: #eeeeee;
}

@supports (bottom: constant(safe-area-inset-bottom)) or
  (bottom: env(safe-area-inset-bottom)) {
  // 控制选择器优先级低于页面上的类选择器
  .iphonex-fixed-padding {
    padding-bottom: constant(safe-area-inset-bottom) !important;
    padding-bottom: env(safe-area-inset-bottom) !important;
  }

  .iphonex-fixed-margin {
    margin-bottom: constant(safe-area-inset-bottom) !important;
    margin-bottom: env(safe-area-inset-bottom) !important;
    &::after {
      background: #fff;
      width: 100%;
      height: env(safe-area-inset-bottom) !important;
      height: constant(safe-area-inset-bottom) !important;
      content: '';
      position: absolute;
      left: 0;
      top: 100%;
    }
  }
}

page {
  @extend .t4;
  background-color: $hezi-background-gray;
}

#app.taro_router .taro_page {
  @extend .t4;
  background-color: $hezi-background-gray;
}

taro-view-core {
  box-sizing: border-box;
}

// 设置全局为border-box盒模型
view,
scroll-view {
  box-sizing: border-box;
  &::after,
  &::before {
    box-sizing: inherit;
  }
}

// a标签默认主题色
navigator {
  color: $hezi-color-primary;
}

textarea {
  margin: var(--textarea-inside-margin);
}

.taro-img,
image {
  width: 100%;
}
