// 变量
// 主题色
$hezi-color-primary: #ff4e4f;

// 文字色
$hezi-text-color: #333;
$hezi-text-color-light: #a5a5a5;
$hezi-text-color-gray: #cdcdcd;

// 灰色系
$hezi-gray-mask: rgba(0, 0, 0, 0.5);
$hezi-gray-icon: #cdcdcd;
$hezi-gray-border: #eee;

// 背景色
$hezi-background-white: #fff;
$hezi-background-gray: #f6f6f6;

//  处理ios底部安全区域
@mixin x-padding-bottom($val: 1px) {
  padding-bottom: $val;
  padding-bottom: calc(#{$val} + constant(safe-area-inset-bottom));
  /* ios 11 */
  padding-bottom: calc(#{$val} + env(safe-area-inset-bottom));
  /* ios 11.2及以后 */
}
@mixin x-margin-bottom() {
  /* ios 11 */
  margin-bottom: constant(safe-area-inset-bottom);
   /* ios 11.2及以后 */
  margin-bottom: env(safe-area-inset-bottom);
}
