.minimalist {
  .title {
    font-size: 32px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #333333;
    box-shadow: 0px 4px 10px 0px rgba(172, 172, 172, 0.1100);
    border-radius: 4px 4px 0px 0px;
  }

  .selectedBox {
    background: #ffffff;
    font-family: PingFangSC-Regular, PingFang SC;

    .topBox {
      border-bottom: 2px rgba(116, 116, 128, 0.1800) solid;
      border-radius: 0px 0px 4px 4px;
      display: flex;
      border-bottom: 2px solid rgba(116, 116, 128, 0.1800);

      .cancelImg {
        width: 200px;
        height: 200px;
      }

      .topRightBox {
        font-family: PingFangHK-Medium, PingFangHK;
        font-weight: 500;
        color: #222222;
        flex: 1;

        .topRightName {
          font-size: 32px;
          font-family: PingFangHK-Regular, PingFangHK;
          color: #222222;
        }

        .money {
          display: flex;
          height: 48px;
          line-height: 48px;
          font-family: HelveticaNeue-Bold, HelveticaNeue;
          font-size: 44px;
          font-weight: bold;
          color: #CD3939;

          .symbol {
            font-family: PingFangSC-Medium, PingFang SC;
            font-size: 36px;
            height: 48px;
            line-height: 48px;
          }
        }

        .numCon {
          .numberText {
            font-size: 24px;
            font-family: PingFangHK-Medium, PingFangHK;
            font-weight: 500;
            color: #666666;
          }

          .num {
            height: 48px;
            font-size: 32px;
            font-family: HelveticaNeue-Medium, HelveticaNeue;
            font-weight: 500;
            color: #222222;
            line-height: 60px;
            text-align: right;
          }
        }

        .bottomBox {
          font-size: 24px;
          font-weight: 500;
          color: #666666;
          line-height: 32px;
        }
      }
    }

    .purchase {
      border-radius: 0px 0px 4px 4px;

      .purchaseText {
        font-size: 28px;
        font-family: PingFangHK-Medium, PingFangHK;
        font-weight: 500;
        color: #222222;
      }

      .purchaseNum {
        font-size: 32px;
        font-family: HelveticaNeue-Medium, HelveticaNeue;
        font-weight: 500;
        color: #222222;
        min-width: 72px;
        height: 64px;
        line-height: 64px;
        text-align: center;
        background: #F0F1F2;
        border-radius: 6px;
      }
    }
  }

  .information {
    background: #ffffff;

    .content {
      border-radius: 4px;

      .requiredIcon {
        font-size: 28px;
        color: #FF2D55;
      }

      .formItem {
        display: flex;
        align-items: center;
        border-bottom: 2px solid rgba(0, 0, 0, 0.0600);
        position: relative;

        .rigarrowhead::after {
          position: absolute;
          content: '';
          width: 14px;
          height: 14px;
          border-top: 1px solid #666666;
          border-right: 1px solid #666666;
          transform: rotate(45deg);
          top: 45px;
          right: 10px;
        }

        ::-webkit-input-placeholder {
          color: #999;
          font-size: 28px;
        }

        .label {
          width: 250px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 28px;
          font-weight: 400;
          color: #333333;

          .text {
            font-size: 28px;
            font-family: PingFangSC-Regular, PingFang SC;
          }
        }

        .picker {
          color: #999;
          font-size: 28px;
        }
      }

    }
  }

  .footer {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cancel {
      width: 160px;
      height: 80px;
      line-height: 80px;
      border-radius: 52px;
      border: 2px solid #666666;
      background: #F6F6F6;
      font-size: 28px;
      color: #666666;
    }

    .submit {
      width: 448px;
      height: 80px;
      line-height: 80px;
      background: linear-gradient(61deg, #E66161 0%, #C83232 100%);
      border-radius: 40px;
      border: transparent;
      margin-top: 0 !important;
    }
  }
}