.group {
  .group-flag {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
  }
  .group-flag--notCertified {
    height: 64px;
    background: #daeaff;
  }
  .group-flag--certification {
    height: 72px;
    background: #fff;
  }
  .group-icon-down {
    width: 24px;
    height: 24px;
  }
  .group-icon-chat {
    width: 36px;
    height: 36px;
  }
  .group-card {
    background: #fff;
    .group-card-head {
      height: 84px;
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.08);
    }
    .group-card-icon {
      width: 32px;
      height: 36px;
    }
    .group-card-icon-40 {
      width: 40px;
      height: 40px;
    }
  }
  .group-vertical-line {
    width: 1px;
    height: 72px;
    background: rgba(0, 0, 0, 0.08);
  }
  .group-product-icon {
    width: 42px;
    height: 42px;
  }
  .group-funds-icon {
    width: 80px;
    height: 80px;
  }
  .icon-yanjing_yincang {
    width: 32px;
    height: 20px;
  }
  .icon-yanjing_xianshi_o {
    width: 32px;
    height: 20px;
  }
  .group-funds-num {
    width: 206px;
  }
  .group-canvas {
    width: 702px !important;
    height: 400px !important;
  }
  .group-collapse {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    visibility: hidden;
    .group-collapse-mask {
      width: 100%;
      height: 100vh;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
      background: rgba(0, 0, 0, 0.6);
      opacity: 0;
      transition: opacity 0.3s ease-out;
    }
    .group-collapse-header {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 11;
    }
    .group-collapse-content {
      position: absolute;
      width: 100%;
      left: 0;
      top: 64px;
      background: #fff;
      z-index: 11;
      max-height: 0;
      transition: max-height 0.3s;
      overflow: hidden;
    }
    &.show {
      animation: show 0.3s ease-out forwards;
      .group-collapse-content {
        max-height: 600px;
      }
      .group-collapse-mask {
        opacity: 1;
      }
    }
    &.hide {
      animation: hide 0.3s ease-out forwards;
      .group-collapse-content {
        max-height: 0;
      }
      .group-collapse-mask {
        opacity: 0
      }
    }
  }
  &.customNav {
    .group-flag {
      top: 92px;
    }
    .group-collapse {
      top: 92px;
    }
  }
  @keyframes show {
    0% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
  
  @keyframes hide {
    0% {
      visibility: visible;
    }
    100% {
      visibility: hidden;
    }
  }
}
