.state-page {
  &.area-bottom {
    padding-bottom: 224px;
  }
  .custom-navigation {
    height: 92px;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999999;
    .custom-navigation-icon {
      position: absolute;
      top: 50%;
      left: 56px;
      transform: translateY(-50%);
    }
  }
}
