.loading {
  .loading-box {
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 3px solid $hezi-gray-border;
    border-top: 3px solid $hezi-color-primary;
    border-radius: 50%;
    animation: loading-360 0.8s infinite linear;

    @keyframes loading-360 {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
  .svga-canvas {
    width: 128px;
    height: 128px;
  }
  &.loading-hide {
    display: none;
  }
}
