.search {
  background: #fff;
  min-height: 100vh;

  .search-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 800;
    height: 87px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 1px solid rgba(153, 153, 153, 0.2);
    z-index: 99;

    .search-bar {
      position: relative;
      height: 56px;
      width: 658px;
      background-color: #f6f6f6;
      border-radius: 37px;
      overflow: hidden;
      display: flex;

      .search-bar-wrap {
        flex-grow: 1;
        display: flex;
        align-self: center;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        height: 56px;
        line-height: 0;
        position: relative;
        padding-left: 40px;
        .defaultinput {
          font-size: 24px;
          font-weight: 400;
          color: red;
        }
        .search-input {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          display: block;
          left: 80px;
          width: 500px;
          color: #333333;
        }
        ::-webkit-input-placeholder {
          color: #c0c2c9;
          font-size: 24px;
        }

        .input::-webkit-input-placeholder {
          /* WebKit, Blink, Edge */
          color: #c0c2c9;
        }

        .logo {
          display: flex;
          align-self: center;
          align-items: center;
          justify-content: center;
          // padding: 0 40px;
          margin-left: 40px;
          height: 56px;
          line-height: 0;
          position: absolute;
          top: 0;
          left: 6px;
        }

        .delete {
          display: flex;
          align-self: center;
          align-items: center;
          justify-content: center;
          padding: 0 12px;
          height: 56px;
          line-height: 0;
          position: absolute;
          top: 0;
          right: 6px;
        }
      }
    }
  }

  .search-content {
    padding-top: 97px;
    height: 100%;
    box-sizing: border-box;
    z-index: -1;

    .search-list {
      padding: 0 24px;
      display: flex;
      flex-direction: column;

      .search-list-item {
        width: 100%;
        border-bottom: 1px solid rgba(153, 153, 153, 0.2);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        // height: 80px;
        padding: 25px 0 24px 0;

        .search-list-logo {
          margin-right: 16px;
          height: 24px;
          width: 24px;
          display: flex;
          align-items: center;
        }

        .search-list-content {
          font-size: 24px;
          font-weight: 400;
          color: #c0c2c9;
          margin-left: 16px;
        }
      }

      .search-list-diff {
        height: 222px;
        width: 100%;

        .search-list-diff-header {
          height: 90px;
          padding: 0 24px;
          position: relative;

          .search-list-diff-title {
            height: 90px;
            font-size: 24px;
            font-weight: 600;
            color: #333333;
            line-height: 90px;
            text-align: center;
          }

          &:after {
            content: '';
            display: inline-block;
            width: 4px;
            height: 28px;
            background-color: #c83232;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-14px);
          }
        }

        .diff-content {
          height: 133px;
          width: 100%;
          display: flex;
          justify-content: flex-start;

          .diff-box {
            width: 182px;
            height: 133px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            .box-logo {
              height: 64px;
              width: 64px;
              margin-bottom: 24px;
            }

            .box-title {
              width: 144px;
              height: 33px;
              text-align: center;
              line-height: 33px;
              font-size: 24px;
              font-weight: 400;
              color: #333333;
              overflow: hidden;
            }
          }
        }
      }
    }
  }

  &.customNav {
    .search-fixed {
      top: 92px;
    }
  }
}
