.agree {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 15px;
  background: #fff;

  p {
    margin: 0 0 10px;
    line-height: 1.8;
  }
  .title {
    text-align: center;
    font-size: 24px;
    line-height: 24px;
  }
}
