.product_category {
  background: #fff;

  .productBox {
    background: #fff;
    height: 125px;
    padding-top: 21px;

    .searchProduct {
      width: 702px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-size: 24px;
      height: 56px;
      line-height: 56px;
      color: #C0C2C9;
      background: #F6F6F6;
      border-radius: 37px;
      margin: 21px 24px 0;
      display: flex;
      justify-content: center;
    }
  }


  .content {
    display: flex;
    justify-content: space-between;
    font-family: PingFangSC-Regular, PingFang SC;
    // padding-top: 24px;

    .content_left {
      width: 20vw;
      font-size: 28px;
      line-height: 40px;
      color: #333333;
      background: #F6F6F6;

      .nav_title {
        padding: 36px 0;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .nav_active {
        font-family: PingFangSC-Semibold, PingFang SC;
        background: #ffffff;
        color: #C83232;
        font-weight: 600;
      }

      .nav_active::before {
        content: '';
        display: inline-block;
        width: 5px;
        height: 24px;
        background: #C83232;
        border-radius: 3px;
        position: absolute;
        left: 0px;
        top: 44px;
      }
    }

    .content_scroll {
      width: 80vw;
      overflow-y: scroll;
      font-size: 24px;
      padding: 0 24px;

      .rectangle {
        background: #fff;

        .content_title {
          width: 547px;
          background: #F6F6F6;
          border-radius: 2px;
          opacity: 0.8;
          text-align: center;
          height: 46px;
          line-height: 46px;
          color: #333333 100%;
          font-weight: 600;
          margin: 0 auto;
        }
      }

      .content_center_box {
        background: #ffffff;
        padding: 28px 0 20px;

        .content_center {
          width: 33%;
          display: inline-block;
          text-align: center;

          .doctor_name {
            color: #333333;
            margin-top: 9px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-bottom: 8px;
          }
        }
      }
    }
  }
}